/* Style of sub */
.sub{
    font-style: italic;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
}  
/* Emphasize the Title */
.container{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border: 5px solid white;
}
h1{
    font-weight: bold;
    text-align: center ;
    font-size: 5em;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Simple, minimalist for the assingment, may change into blur family picture in the future */
body{
    /* background-color: black;
    color: white; */
    background-image: url(../images/family_PIC.JPG);
    
      /* Add the blur effect */
    backdrop-filter: blur(8px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
/* make picture go left, also remember to limit the size, also make to be scaleable*/
figure{
    float: left;
}
.scaleable { width: 100%; }
.limited { max-width: 400px; }

/* Simple title make center like header */
h2 {
    font: italic;
    font-weight: normal;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;   
    color: blue;
}
/* add padding to don't touch edge */
.padding{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
/*  make it grow however it want, be flexible*/
ul{
    flex-grow: auto;
}
/* hover with color that pop out, make it cool*/
a:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
  }
  a:hover {
    background-position: 0;
   }
   a:hover::before {
    width: 100%;
  }
  a {
    background-image: linear-gradient(
      to right,
      #ff0000,
      #ff0000 50%,
      violet 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  h3 {
    font: italic;
    font-weight: normal;
    flex-grow: 1;
    flex-basis: 100%;
    color: blue;
}
/* add padding for easier look */
nav{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}