/* step1 navigation bar*/
.navigation{
    display: flex;
    justify-content: space-around;
    /* Have to change the lightblue up to math the picture */
    background-color: rgb(92, 201, 238);
    padding: 1px;
    border-bottom: 2px solid black;
}
/* step2
using bacground image given by teacher*/
body{
    background-image: url(../images/side.jpg);
    /* Reapeat it vertically */
    background-repeat:repeat-y; 
    /* Add this so it would like the example picture */
    margin: 0px; 
    padding: 0px; 
}
/* Making columns 2x2 have to google this bit
Citation
https://stackoverflow.com/questions/55174404/how-to-make-2x2-image-grid-css*/
.boxes{
    display: inline-grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    grid-gap: 10px;
    margin-left: 200px;

}
/* Making the container for each name of flower green,font size,color,and type */
.flowertype{
    padding: 5px;
    display: flex;
    color: rgb(203, 153, 255);
    align-items: center;
    background-color: rgb(59, 86, 16);
    width: 180px;
    height: 150px;
    font-size: 30px;
    font-style: bold;
    text-align: center;
    border-radius: 30px;

}
/* Making asterisk big, change color, make shadow */
.star{
    font-size: 120px;
    color: green;
    text-shadow:3px 3px  yellow;
}
/* add hover color bacground and change cursor Citation
https://www.tutorialrepublic.com/codelab.php?topic=faq&file=css-make-the-cursor-a-hand-pointer-on-hover*/
.flowertype:hover{
    background-color: purple;
    transition: 1s;
    cursor: pointer;
}
/* change the grid to 1 row 4 columns */
@media only screen and (max-width:600px) {
    .boxes {
        
    grid-template-columns: auto;
    }
    /* cant make picture gone */
@media only screen and (max-width:500px) {
    .boxes {
        grid-template-columns: auto;
        background-image: none;
    }    
}
}